<ol class="timeline">
  <li class="reveal"><span class="yr">1640</span><h3>Le Louis d’or</h3><p>Louis XIII institue le Louis d’or, grande monnaie d’or de la monarchie.</p></li>
  <li class="reveal" style="--i:1"><span class="yr">1641</span><h3>L’écu d’argent</h3><p>Frappe de l’écu d’argent, qui circulera jusqu’à Louis XVI.</p></li>
  <li class="reveal" style="--i:2"><span class="yr">1789</span><h3>Les assignats</h3><p>Premiers papiers-monnaies de masse, émis jusqu’en 1796.</p></li>
  <li class="reveal" style="--i:3"><span class="yr">1800</span><h3>Banque de France</h3><p>Création de la Banque de France, future grande émettrice de billets.</p></li>
  <li class="reveal" style="--i:4"><span class="yr">1803</span><h3>Franc Germinal</h3><p>Le franc Germinal fixe le système monétaire et lance le 20 francs or.</p></li>
  <li class="reveal" style="--i:5"><span class="yr">1817</span><h3>Le souverain</h3><p>Le souverain or moderne est frappé en Grande-Bretagne.</p></li>
</ol>
